@layout MainLayout
@using iOSClub.Share.Data
@inherits LayoutComponentBase

<AuthorizeView Roles="Founder, President, TechnologyMinister, PracticalMinister, NewMediaMinister">
    <ChildContent>
        <main>
            <NavList NavLists="NavModels"/>

            <article class="main" style="margin: 10px 0 ">
                @Body
            </article>

            <FooterList/>
        </main>
    </ChildContent>
    <NotAuthorized>
        <main>
            <article class="main">
                <ReturnView/>
            </article>
            <FooterList/>
        </main>
    </NotAuthorized>
</AuthorizeView>


@code
{
    public readonly List<NavModel> NavModels = new()
    {
        new NavModel { Name = "后端主页", Url = "Admin" },
        new NavModel { Name = "官网主页", Url = "" },
        new NavModel { Name = "环境", Url = "Admin/Env" },
        new NavModel { Name = "成员数据", Url = "Admin/MemberData" },
        new NavModel { Name = "注销", Url = "Logout" }
    };
}