@layout MainLayout
@inherits LayoutComponentBase

<div class="page">
    <main>
        <header class="header">
            <h1 class="logo">iOS Club 注册后端</h1>

            <nav class="navbar">
                <ul class="nav-menu">
                    <NavLink class="nav-item" href="https://blazor.net" Match="NavLinkMatch.All">关于Blazor技术</NavLink>
                    <NavLink class="nav-item" href="Admin" Match="NavLinkMatch.All">主页</NavLink>
                    <NavLink class="nav-item" href="Env" Match="NavLinkMatch.All">环境</NavLink>
                    <NavLink class="nav-item" href="AllData" Match="NavLinkMatch.All">数据中心</NavLink>
                    <NavLink class="nav-item" href="" Match="NavLinkMatch.All">注册</NavLink>
                </ul>
            </nav>
        </header>

        <article class="main">
            @Body
        </article>

        <footer>
            <p>&copy; 2023 XAUAT iOS Club. All rights reserved. | 备案号：陕ICP备114514号</p>
            <div class="footer-container">
                <a href="https://cn.xauat.edu.cn/" target="_blank">西安建筑科技大学</a>
            </div>
        </footer>
    </main>
</div>

<link href="/Index.css" rel="stylesheet"/>

<style scoped>
nav {
    color: #fff;
}

.main{
min-height: 100vh;
}

h1{
  color: #f5f5f7;
}

h5{
  color: #f5f5f7;
}

a {
    color: #fff;
    align-items: center;
    justify-content: space-between;
}

a:hover {
    text-decoration: underline;
}

footer {
  padding-top: 15px;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: #f5f5f5;
  background: rgba(255, 255, 255, 0.4);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.2);
  border-radius: 10px;
}

.footer-container {
  padding-bottom: 10px;
}
</style>