@inherits LayoutComponentBase

<div class="page">
    <main>
        <header class="header">
            <h1 class="logo">iOS Club 注册后端</h1>

            <nav class="navbar">
                <ul class="nav-menu">
                    <a href="https://blazor.net" target="_blank" class="nav-item">关于Blazor技术</a>
                    <a href="/Admin" target="_blank" class="nav-item">主页</a>
                    <a href="/Env" target="_blank" class="nav-item">环境</a>
                    <a href="/AllData" target="_blank" class="nav-item">数据中心</a>
                    <a href="/" target="_blank" class="nav-item">注册</a>
                </ul>
            </nav>
        </header>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>


<style scoped>
nav {
    color: #fff;
}


h1{
  color: #f5f5f7;
}

h5{
  color: #f5f5f7;
}

ul {
    display: flex;
    list-style: none;
    padding: 0;
}

li {
    margin-right: 10px;
}

a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.header {
    padding-left: 10px;
    padding-right: 10px;
    color: #333;
    border-radius: 10px;
    /* 添加圆角 */
    overflow: hidden;
    /* 防止子元素超出边界 */
    display: flex;
    scroll-snap-align: end;
    align-items: center;
    justify-content: space-between;

    background: rgba(255, 255, 255, 0.3);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.3);
}

.logo {
    font-size: 24px;
    font-weight: bold;
}


.nav-menu {
    list-style: none;
    display: flex;
    gap: 20px;
}


.nav-item {
    font-size: 18px;
}

.nav-item a {
    //color: #000000;
  color: #f5f5f7;
    text-decoration: none;
    transition: color 0.3s;
}

.nav-item a:hover {
    color: #e064b9;
}
</style>