@layout MainLayout
@using iOSClub.Table.Components
@using iOSClub.Share.Data
@inherits LayoutComponentBase


<AuthorizeView Roles="Founder, President, TechnologyMinister, PracticalMinister, NewMediaMinister">
    <ChildContent>
        <main>
            <NavList NavLists="NavModels"/>

            <article class="main">
                @Body
            </article>

            <FooterList/>
        </main>
    </ChildContent>
    <NotAuthorized>
        <main>
            <article class="main">
                <ReturnView/>
            </article>
            <FooterList/>
        </main>
    </NotAuthorized>
</AuthorizeView>


@code
{
    public readonly List<NavModel> NavModels = new()
    {
        new NavModel { Name = "主页", Url = "Admin" },
        new NavModel { Name = "环境", Url = "Env" },
        new NavModel { Name = "数据中心", Url = "AllData" },
        new NavModel { Name = "注册", Url = "/Signup" }
    };
}