@page "/Admin"
@using iOSClub.Share.Data
<PageTitle>官网后端 - 西建大iOS Club</PageTitle>

<Flex Justify="center" Align="center">
    <Flex Wrap="wrap" Gap="large" Style="margin: 0 5%">
        @foreach (var item in Models)
        {
            <Card Bordered="false" Hoverable Style="width: 20vw;height: 16vh">
                <p>@item.Name</p>
                <a href="@item.Url">@item.Name</a>
            </Card>
        }
    </Flex>
</Flex>

@code {
    private static List<NavModel> Models => [
        new NavModel(){ Name = "数据中心", Url = "/Admin/DataCentre"},
        new NavModel(){ Name = "环境", Url = "/Admin/Env" },
        new NavModel(){ Name = "活动管理", Url = "/Admin/EventManager" },
        new NavModel(){ Name = "权限管理", Url = "/Admin/Permissions" }
    ];
}