@page "/Env"
@inject IWebHostEnvironment HostEnvironment
@inject NavigationManager NavigationManager

<PageTitle>环境</PageTitle>

@if (HostEnvironment.IsDevelopment())
{
    <Result Title="当前为开发环境！"/>
}
else if (HostEnvironment.IsProduction())
{
    <Result Title="当前为生产环境！"/>
}

<Button Class="content" Type="@ButtonType.Primary" OnClick="@BackClick">返回主页！</Button>

@code {

    private void BackClick()
    {
        NavigationManager.NavigateTo("Admin");
    }

}