@media screen and (max-width: 768px) {
    .gradient-text{
        font-size: 36px;
        text-align: center !important;
    }
}

@media screen and (max-width: 992px) {
    .gradient-text{
        text-align: center !important;
    }
}