.input-box {
    position: relative;
}

.input-box input {
    color: #1c1f23;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    letter-spacing: 1px;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #ededed;
    outline: none;
    background: transparent;
}

.input-box label {
    color: #1c1f23;
    padding: 10px;
    font-size: 16px;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    transition: .5s;
}

.input-box input:focus ~ label,
.input-box input:valid ~ label {
    top: -18px;
    left: 0;
    color: #3c3c43;
    font-size: 12px;
}