.phone-left-display{
    display: initial !important;
    width: 100%;
    height: 100%;
}

.phone-top-display{
    display: none !important;
    width: 100%;
}

@media screen and (max-width: 768px) {
   .phone-left-display{
       display: none !important;
   }

    .phone-top-display {
        display: initial !important;
    }
}

.header{
    color: #f5f5f7;
    p{
        color: #191c1f;
    }
    overflow: hidden;
    /* 防止子元素超出边界 */
    display: flex;
    scroll-snap-align: end;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
}