@page "/Structure"

<PageTitle>社团结构 - 西建大iOS Club</PageTitle>

<Breadcrumb Style="margin-bottom: 10px">
    <BreadcrumbItem>
        <a href="/NewAbout">社团简介</a>
    </BreadcrumbItem>
    <BreadcrumbItem>
        <a href="/Structure">社团结构</a>
    </BreadcrumbItem>
</Breadcrumb>

<GridRow>
    <GridCol Xs="24" Sm="24" Md="24" Lg="24" Xl="20" Xxl="20">
        <div id="structure">
            <Title Level="2">社团结构</Title>
            <Paragraph>
                西安建筑科技大学iOS Club是一个致力于iOS应用开发和设计的学生组织。本社团旨在为对iOS平台感兴趣的学生提供一个交流和学习的平台，同时也为那些希望在未来从事相关工作的学生提供实践机会。西建大iOS Club由社长、副社长、社团科技部、社团交流实践部、社团新媒体部组成。
            </Paragraph>
            <div>
                <Title Level="3">社团负责人</Title>
                <Paragraph>
                    负责领导和管理整个社团
                </Paragraph>
            </div>
            <div>
                <Title Level="3">科技部</Title>
                <Paragraph>

                </Paragraph>
            </div>
            <div>
                <Title Level="3">交流实践部</Title>
                <Paragraph>

                </Paragraph>
            </div>
            <div>
                <Title Level="3">新媒体部</Title>
                <Paragraph>

                </Paragraph>
            </div>
        </div>
        <div>
            iOS Club不仅提供了一个技术交流的场所，还鼓励成员们在实际项目中应用所学知识，通过参与到真实的应用开发项目中，学生们能够获得宝贵的实践经验。此外，社团还定期邀请业界专家进行讲座和研讨，为成员们提供行业洞察和职业发展的指导。
        </div>
    </GridCol>
    <GridCol Xs="0" Sm="0" Md="0" Lg="0" Xl="4" Xxl="4" Class="desktop-phone">
        <Affix>
            <Anchor >
                <AnchorLink Href="/Structure#about" Title="社团结构">
                    <AnchorLink Href="/Structure#about" Title="社团负责人"/>
                    <AnchorLink Href="/Structure#about" Title="科技部"/>
                    <AnchorLink Href="/Structure#about" Title="交流实践部"/>
                    <AnchorLink Href="/Structure#about" Title="新媒体部"/>
                </AnchorLink>
                <AnchorLink Href="/Structure#business" Title="社团业务"/>
                <AnchorLink Href="/Structure#activity" Title="社团活动"/>
                <AnchorLink Href="/Structure#contact" Title="联系我们"/>
            </Anchor>
        </Affix>
    </GridCol>
</GridRow>