/* 基本配置 */
html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-size: auto;
    background-repeat: no-repeat;
    background-position: initial;
}

h1:focus {
    outline: none;
}

::-webkit-scrollbar {
    display: none;
}

a, .btn-link {
    color: #0071c1;
}

/* Layout */

.content {
    padding-top: 1.1rem;
}

.body {
    background-image: linear-gradient(to bottom right, #ff6b6b, #7171ae, #10bce7);
}

.main {
    min-height: 100vh;
    padding: 10px;
}

@keyframes fade-in {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes CardDisplay {
    0% {
        transform: scale(1)
    }

    100% {
        transform: scale(1.02)
    }
}

@keyframes CardDisplay2 {
    0% {
        transform: scale(1.02)
    }
    100% {
        transform: scale(1)
    }
}

/* 半透明 */

.container {
    background: rgba(255, 255, 255, 0.3);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.3);

    padding: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 10px;

    animation: fade-in 1s ease-in-out;
}

.logo {
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 0;
    color: #f5f5f7;
    animation: fade-in 1s ease-in-out;
    font-weight: bold;
}


.nav-menu {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-item {
    font-size: 18px;
}

.nav-item a {
    color: #f5f5f7;
    text-decoration: none;
    transition: color 0.3s;
}

.nav-item a:hover {
    color: #e064b9;
}

.desktop-phone{
    display: block !important;
}

.desktop-phone-flex{
    display: flex !important;
}

.phone-desktop-flex{
    display: none !important;
}

.phone-desktop{
    display: none !important;
}

.desktop-laptop{
    display: block;
}
/* 手机页面调整 */

@media screen and (max-width: 768px) {

    .whole {
        min-height: 80vh;
    }

    .container {
        border-radius: 0;
    }

    .content {
        padding-top: 0;
    }

    .main {
        padding: 0 !important;
    }

    .desktop-phone {
        display: none !important;
    }

    .phone-desktop{
        display: block !important;
    }

    .desktop-phone-flex{
        display: none !important;
    }

    .phone-desktop-flex{
        display: flex !important;
    }
}

@media screen and (max-width: 992px) {
    .desktop-laptop {
        display: none;
    }
}