<footer>
    <p class="footer-p"><Icon Type="copyright" Theme="outline"/> 2023 XAUAT iOS Club. All rights reserved.</p>
    <div class="footer-container">
        <a href="https://cn.xauat.edu.cn/" target="_blank">西安建筑科技大学</a>
    </div>
</footer>