@media screen and (max-width: 768px) {
    .footerList-box {
        margin: initial;
        border-radius: 0;
        box-shadow : revert;
    }
}

.footer-container {
    padding-bottom: 10px;
}

.footer-p {
    all: revert;
    font-size: 18px;
}

a {
    color: #fff;
    align-items: center;
    justify-content: space-between;
}

a:hover {
    text-decoration: underline;
}