<div class="footerList-box">
    <p class="footer-p">
        <Icon Type="copyright" Theme="outline"/>
        2023 XAUAT iOS Club. All rights reserved.
    </p>
    <div class="footer-container">
        <Space>
            <Split>
                <Divider Type="DirectionVHType.Vertical" />
            </Split>
            <ChildContent>
                <SpaceItem>
                    <a href="https://cn.xauat.edu.cn/" target="_blank">西安建筑科技大学</a>
                </SpaceItem>
                <SpaceItem>
                    <a href="https://beian.miit.gov.cn/" target="_blank">备案号 陕ICP备2024031872号</a>
                </SpaceItem>
                <SpaceItem>
                    <a href="https://gitee.com/XAUATiOSClub" target="_blank">我们的Gitee组织</a>
                </SpaceItem>
            </ChildContent>
        </Space>
        
    </div>
</div>

<style>
    .footerList-box {
        margin-left: 10px;
        margin-right: 10px;
        padding-top: 15px;
        width: auto;
        text-align: center;
        color: #f5f5f5;
        background: rgba(255, 255, 255, 0.4);
        -webkit-backdrop-filter: blur(20px);
        backdrop-filter: blur(20px);
        box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.2);
        border-radius: 10px;
    }
</style>