@using Microsoft.EntityFrameworkCore
<div class="input-box">
    <input @bind="@Model" name="@Name" @oninput="OnStringChange" Type="@InputType" required=""/>
    <label>@DisplayText</label>
</div>

<link href="css/InputBox.css" rel="stylesheet"/>

@code {

    [Parameter]
    public string Model { get; set; } = "";

    [Parameter]
    public EventCallback<string> ModelChanged { get; set; }
    
    [Parameter]
    public string Name { get; set; } = "";

    [Parameter]
    public string InputType { get; set; } = "";

    [Parameter]
    public string DisplayText { get; set; } = "";

    private Task OnStringChange(ChangeEventArgs e)
    {
        Model = e.Value!.ToString()!;
        return ModelChanged.InvokeAsync(Model);
    }

}