@using iOSClub.Share.Data
<div class="header">
    <h1 class="logo">XAUAT iOS Club</h1>
    <nav class="navbar-expand @NavMenuCssClass">
        <ul class="nav-menu">
            @foreach (var item in NavLists)
            {
                <NavLink class="nav-item" href="@item.Url" Match="NavLinkMatch.All">@item.Name</NavLink>
            }
        </ul>
    </nav>
    @* <div> *@
    @*     <Icon OnClick="@ToggleNavMenu" Type="menu" Theme="outline"/> *@
    @* </div> *@
</div>

@code {
    [Parameter] public List<NavModel> NavLists { get; set; } = new();

    private bool collapseNavMenu;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

}

<style scoped>
nav {
    color: #fff;
}

h1{
  color: #f5f5f7;
}

h5{
  color: #f5f5f7;
}

a {
    color: #f5f5f7;
    align-items: center;
    justify-content: space-between;
}

a:hover {
    text-decoration: underline;
}
</style>