@media screen and (max-width: 768px) {
    .header-box {
        margin: 0;
        border-radius: 0;
        box-shadow : revert;
    }
}

nav {
    color: #fff;
}

h1 {
    color: #f5f5f7;
}

h5 {
    color: #f5f5f7;
}