@media screen and (max-width: 768px) {
    .navbar-expand {
        display: none;
    }

    .header-box{
        border-radius: 0;
    }
    
    .collapse {
        /* Never collapse the sidebar for wide screens */
        display: flex;
    }
}

nav {
    color: #fff;
}

h1{
    color: #f5f5f7;
}

h5{
    color: #f5f5f7;
}