.light {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
}

header {
    overflow: hidden;
    /* 防止子元素超出边界 */
    display: flex;
    scroll-snap-align: end;
}

.header{
    padding: 20px;
}

.context{
    overflow-y: auto;
    margin: 10px;
    height: 100%;
    width: 100%;
}

@media screen and (max-width: 768px)  {
    .data{
        border-radius : 0;
    }
}