<Empty Image="https://gw.alipayobjects.com/mdn/rms_08e378/afts/img/A*zx7LTI_ECSAAAAAAAAAAAABkARQnAQ">
    <DescriptionTemplate>
        <span style="color: #f5f5f7">这里还有点想不出来 给<a href="https://gitee.com/XAUATiOSClub/iOSClub.Table" target="_blank">西建大iOS Club</a>一点建议</span>
    </DescriptionTemplate>
    <ChildContent>
        <Button type="@ButtonType.Primary">回到主页</Button>
    </ChildContent>
</Empty>