.phone-table-display {
    align: center;
    text-align: center;
    width: 100%;
    cellspacing: 1;
    cellpadding: 4;
    color: #f5f5f7;
    display: revert;
}

.phone-ul-display p{
    all:revert;
    color: #f5f5f7;
}

.phone-ul-display{
    color: #f5f5f7;
    display: none;
}

@media screen and (max-width: 768px){
    .phone-table-display {
        display: none;
    }

    .phone-ul-display{
        display: revert;
    }
}