#icon-container {
    height: 85px;
    margin: 0;
    padding: 0;
    border-radius: 10px 10px 0 0;
    background-color: rgba(200, 200, 200, 0.5);

    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#icon-container > li {
    list-style: none;
    margin: 1em;
}

#icon-container {
    --scale: 1;
}

#icon-container > li > span {
    width: calc(var(--scale) * 50px);
    border-radius: calc(var(--scale) * 15px);
    overflow: hidden;
}