@page "/Centre"
<PageTitle>个人中心</PageTitle>
<link href="Dock.css" rel="stylesheet"/>

<div id="dock">
    <ul id="icon-container">
        <li>
            <img/>
        </li>
        <li>
            <img/>
        </li>
        <li>
            <img/>
        </li>
        <li>
            <img/>
        </li>
        <li>
            <img/>
        </li>
        <li>
            <img/>
        </li>
        <li>
            <img/>
        </li>
        <li>
            <img/>
        </li>
    </ul>
</div>

@code {

}