@layout MainLayout
@inherits LayoutComponentBase

<div class="page">
    <main class="body content">
        <article class="main">
            @Body
        </article>
    </main>
</div>

<style>
    .content{
        padding: 10px;
    }
</style>