@page "/QRCode"
@inject IJSRuntime Js;
@inject NavigationManager Nav;

<PageTitle>加入我们！</PageTitle>

<Button OnClick="@mc">MC</Button>
<Button OnClick="@ios">iOS</Button>

<Image Width="200px" Src="mc.jpg" OnClick="@mc"/>
<Image Width="200px" Src="ios.jpg" OnClick="@ios"/>

@code {

    private void mc()
    {
        Nav.NavigateTo("mqqapi://card/show_pslcard?src_type=internal&version=1&uin=853274331&card_type=group&source=external",true);
        Nav.NavigateTo("https://qm.qq.com/cgi-bin/qm/qr?authKey=dKKuK8qFSXMJmu2qVesTehHfr173W998ccLh6Rkr2%2FtGFBD2ivWJtkq1eAOZmce5&k=jxdgKwU77LtRUQgdwA3vS1CaatGvcbDB&noverify=0",true);
    }

    private void ios()
    {
        Nav.NavigateTo("mqqapi://card/show_pslcard?src_type=internal&version=1&uin=952954710&card_type=group&source=external");
        Nav.NavigateTo("https://qm.qq.com/cgi-bin/qm/qr?authKey=MUNgIj%2B1gnkiI175qAQla6EcR44Fa0APCv%2FLo1a7YIlYgpeg76Q%2BGYMoedb8gGHU&k=HvhhArSc7tzuySOhXsnmZ6RgLcWkzXgu&noverify=0");
    }

}