@page "/AllData"
@using Microsoft.EntityFrameworkCore
@using System.Text.Json
@using iOSClub.Table.Data
@inject IDbContextFactory<SignContext> DbFactory


<h5></h5>

@code {
    public string Context { get; set; } = "";

    protected override async Task OnInitializedAsync()
    {
        await using var context = await DbFactory.CreateDbContextAsync();
        var list = await context.Students.ToListAsync();
        Context = JsonSerializer.Serialize(list);
        await base.OnInitializedAsync();
    }
}