.Digest {
    font-size: 18px;
    color: #f5f5f7;
}

@media screen and (max-width: 768px) {
    .Digest {
        display: none;
    }

    .div h3{
        font-size: 20px;
    }
    
    .div{
        max-height: 100%;
    }
    /*.div{*/
    /*    margin: 10px;*/
    /*}*/
}