.Digest {
    display: revert;
}

@media screen and (max-width: 768px) {
    .Digest {
        display: none;
    }

    .div h2{
        font-size: 20px;
    }
    
    .div{
        max-height: 100%;
    }
}