@layout MainLayout
@using iOSClub.Table.Components
@using iOSClub.Share.Data
@inherits LayoutComponentBase

<main class="body">
    <NavList NavLists="NavModels"/>

    <article class="main">
        @Body
    </article>

    <FooterList/>
</main>


@code
{
    public readonly List<NavModel> NavModels = new()
    {
        new NavModel {Name = "主页"},
        new NavModel {Name = "关于",Url = "SocietyAbout"},
        new NavModel {Name = "活动",Url = "Event"},
        new NavModel {Name = "登录",Url = "Login"}
    };
}