@page "/"

<PageTitle>主页 - 西建大iOS Club</PageTitle>

<div id="HomePage">
    <div class="whole">
        <h1>欢迎来到 XAUAT iOS Club</h1>
        <h1>西安建筑科技大学iOS众创空间俱乐部</h1>
    </div>
    <div class="whole">
        <h1>这里是</h1>
        <h2>梦想家们改变世界的起点</h2>
        <h2>一个跨专业与课堂的开发爱好者社团</h2>
    </div>
    <br/>
    <Image Class="img" Src="/other/RIP.jpg" Alt="西建大iOS Club活动室" />
    <br/>
    <div class="whole">
        <h1>在这里，你能</h1>
        <h2>跨越学科，体验编程与开发的魅力</h2>
        <h2>创造人生，开发非同凡响的APP</h2>
        <h2>与全世界的开发者们交流梦想</h2>
    </div>
    <div class="whole">
        <h1>当然，不只是开发</h1>
        <h2>这里还是数码爱好者的交流基地</h2>
    </div>
</div>


<style scoped>
h1 {
  font-size: 56px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #f5f5f7;
  animation: fade-in 1s ease-in-out;
}

h2 {
  font-size: 48px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #f5f5f7;
  animation: fade-in 1s ease-in-out;
}

p {
  font-size: 18px;
}

#HomePage {
    text-align: center;
    position: relative;
    width: 100%;
    height: 100%;
    /* 使得视图可以滚动 */
}

.whole {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  /* 指定对齐方式，这里使用 start 表示页面顶部对齐 */
  scroll-snap-align: center;
}

.img{
object-fit: cover;
}
</style>