@layout MainLayout
@using iOSClub.Table.Models
@inherits LayoutComponentBase

<div class="body content">
    <NavList NavLists="NavModels"/>

    <article class="main">
        @Body
    </article>

    <FooterList/>
</div>


@code
{
    public readonly List<NavModel> NavModels =
    [
        new NavModel { Name = "主页" },
        new NavModel { Name = "关于", Url = "SocietyAbout" },
        new NavModel { Name = "活动", Url = "Event" },
        new NavModel { Name = "登录", Url = "Login" }
    ];
}