@inherits LayoutComponentBase

<div class="page">
    <main class="body">
        <article class="content">
            @Body
        </article>
    </main>
</div>

<style>

.body{
    background-image: linear-gradient(to bottom right, #ff6b6b, #7171ae, #10bce7);
}
</style>

<link href="/Index.css" rel="stylesheet"/>