@inherits LayoutComponentBase
@inject IJSRuntime Js

<PageTitle>西安建筑科技大学iOS众创空间俱乐部官网</PageTitle>

<div class="page">
    <main class="body">
        <article class="content">
            @Body
        </article>
    </main>
</div>

<style>

.body{
    background-image: linear-gradient(to bottom right, #ff6b6b, #7171ae, #10bce7);
}
</style>

<link href="/css/Index.css" rel="stylesheet"/>