@inherits LayoutComponentBase
@inject NavigationManager Nav

<main class="body" style="min-height: 100vh">
    <Result Status="404"
            Title="404"
            SubTitle="对不起，您访问的页面不存在">
        <Extra>
            <Button Type="@ButtonType.Primary" OnClick="@(() => Nav.NavigateTo(""))">回到主页</Button>
        </Extra>
    </Result>
</main>