@page "/NewIndex"

<GridRow Class="block">
    <GridCol Style="text-align: center" Xs="24" Sm="24" Md="24" Lg="24" Xl="9" Xxl="9">
        <Image Src="iOS_Club_LOGO.png" Preview="false" Style="width:75%;text-align: center"/>
    </GridCol>
    <GridCol Xs="24" Sm="24" Md="24" Lg="24" Xl="15" Xxl="15">
        <span class="gradient-text">XAUAT iOS Club</span>
        <Title Level="1" Style="color: #3c3c43">
            西安建筑科技大学iOS众创空间俱乐部
        </Title>
        <h6 class="first-button">
            这里是
        </h6>
        <h6 class="first-button">
            梦想家们改变世界的起点
        </h6>
        <h6 class="first-button">
            一个跨专业与课堂的数码开发爱好者社团
        </h6>
        <h6 class="first-button">
            跨越学科，体验编程与开发的魅力
        </h6>
        <h6 class="first-button">
            创造人生，开发非同凡响的APP
        </h6>
    </GridCol>
    <Progress Percent="30" Format="@(d => "")"></Progress>
</GridRow>

<GridRow Class="block">
    @foreach (var item in Cards)
    {
        <GridCol Style="text-align: center" Xs="24" Sm="24" Md="24" Lg="12" Xl="8" Xxl="8">
            <a href="@item.Url" target="_blank">
                <Card Hoverable Class="card">

                </Card>
            </a>
        </GridCol>
    }
</GridRow>

@code {
    [CascadingParameter] public bool IsMobile { get; set; }

    private record CardModel(string ImageUrl, string Title, string Content, string Url);

    private static CardModel[] Cards =>
    [
        new CardModel("", "", "", "/About"),
        new CardModel("", "", "", "/Event"),
        new CardModel("", "", "", "/Signup"),
    ];

}

<style>
    .gradient-text {
        background: -webkit-linear-gradient(-64deg, #f9bf65, #ffab6b, #ff9977, #fc8986, #ef7e95, #e47da6, #d37fb5, #bf83c1, #ab8dcf, #9597d8, #7fa0dc, #6ca7da);
        -webkit-background-clip: text; /*将设置的背景颜色限制在文字中*/
        -webkit-text-fill-color: transparent; /*给文字设置成透明*/
        font-size: 56px;
        font-weight: bold;
    }

    .block {
        padding: 40px;
        min-height: 80vh;
    }
    
    .card{
        margin: 10px;
        height: 200px;
        max-width: 100%;
        border-radius: 10px;
        background: #f3f5f7;
    }
    
    .first-button{
        width: 100%;
        border-radius: 10px;
        font-size: 22px;
    }
    
    .first-button:hover{
        padding-left: 10px;
        background: #f3f5f7;
        /*font-weight: bold;*/
    }
</style>