@page "/About"
<PageTitle>关于我们 - 西建大iOS Club</PageTitle>

<Breadcrumb Style="margin-bottom: 10px">
    <BreadcrumbItem>
        <a href="/">主页</a>
    </BreadcrumbItem>
    <BreadcrumbItem>
        <a href="/About">关于我们</a>
    </BreadcrumbItem>
</Breadcrumb>

<GridRow>
    <GridCol Xs="24" Sm="24" Md="24" Lg="24" Xl="20" Xxl="20">
        <div id="about">
            <Title Level="2">关于我们</Title>
            <Paragraph>
                西安建筑科技大学iOS众创空间，是由Apple公司资金支持，受南山书院和西安建筑科技大学大学生创新创业实践中心指导的学术型学生团体。
            </Paragraph>
            <Paragraph>
                协会于2019.09月正式注册成立，以助力创新创业发展，指导社团成员进行软件开发，探讨前沿科技为目标。在学校、书院，Apple公司和学生社团的帮助下，提供专业的指导、广阔的平台以及相关的设备，使学生创造性的想法得以尽情发挥，在“众创空间”中感受科技、艺术与未来。在这里，我们将一起分享见解与故事，一起见证成长与坚持，一起探索属于各自的道路。iOS众创空间，让你相遇未来。
            </Paragraph>
            <Paragraph>
                我们的使命是：
                <ul>
                    <li>助力高校创新创业项目，搭建学生创新创业平台，丰富教学内容，深化校企合作发展。</li>
                    <li>培养俱乐部成员的创新创业意识及软件开发、项目编程能力，提升学生自我竞争力，为毕业后服务社会奠定良好基础。</li>
                    <li>探讨学科前沿，提升学校在相关学科的技术开发水平和业界影响力。</li>
                    <li>帮助扶持创业团队，引入社会项目进入高校，同时助力学生的创新成果转化为社会有效财富。</li>
                </ul>
            </Paragraph>
        </div>

        <div id="business">
            <Title Level="2">社团业务</Title>
            <Paragraph>作为学术性社团，我们担负着学校创新创业项目深化、发展的重担。当然要好好学习了，参加竞赛啦！</Paragraph>
            <Paragraph>
                其中主要参加的两项比赛分别是：
                <ul>
                    <li>WWDCScholarship （苹果全球开发者大会学生奖学金）</li>
                    <Paragraph>
                        WWDC是全球iOS开发者的盛会，苹果会在大会上公布新的软、硬件，同时在大会上设立奖
                        学金，每年通过选拔在全球范围内遴选350名优秀开发者参加盛会，Apple公司提供WWDC
                        的门票以及来回机票和住宿。
                    </Paragraph>
                    <li>C4 （全国高校计算机大赛移动应用创新赛）</li>
                    <Paragraph>
                        C4 是国家级高校计算机能力应用的大赛，其中大赛主要分为四个模块，苹果公司赞助了移
                        动应用创新赛这一模块。
                    </Paragraph>
                </ul>
            </Paragraph>
        </div>

        <div id="activity">
            <Title Level="2">社团活动</Title>
            <Paragraph>
                <ul>
                    <li>每周一次免费iOS开发基础知识培训（由Apple专门讲师进行）</li>
                    <li>每周两次免费基础设备使用（Mac、MacBook、ipad、iPhone）</li>
                    <li>有机会免费参加Apple组织的青少年开发者冬、夏令营培训。</li>
                    <li>定期举行的技术讲座以及区域性学生开发论坛活动。</li>
                    <li>
                        当然，你也可以结交到很多优秀的学长学姐，以及你的开发者同好们，组建一个快乐
                        温馨的大家庭！
                    </li>
                </ul>
            </Paragraph>
        </div>
        <div id="contact">
            <Title Level="2">联系我们</Title>
            <Paragraph>
                网站：<a href="https://gitee.com/link?target=https%3A%2F%2Fwww.xauat.site">西安建筑科技大学iOS众创空间官网</a><br>
                B站号: <a href="https://gitee.com/link?target=https%3A%2F%2Fb23.tv%2FemdiGP6">西建大iOSClub</a><br>
                微信公众号: 微信搜索 西建大iOS众创空间俱乐部
            </Paragraph>
        </div>
    </GridCol>
    <GridCol Xs="0" Sm="0" Md="0" Lg="0" Xl="4" Xxl="4" Class="desktop-phone">
        <Affix>
            <Anchor >
                <AnchorLink Href="/NewAbout#about" Title="关于我们"/>
                <AnchorLink Href="/NewAbout#business" Title="社团业务"/>
                <AnchorLink Href="/NewAbout#activity" Title="社团活动"/>
                <AnchorLink Href="/NewAbout#contact" Title="联系我们"/>
            </Anchor>
        </Affix>
    </GridCol>
</GridRow>