@page "/Department/Technology"

<PageTitle>科技部 - 西建大iOS Club</PageTitle>

<Breadcrumb Style="margin-bottom: 10px">
    <BreadcrumbItem>
        <a href="/About">社团简介</a>
    </BreadcrumbItem>
    <BreadcrumbItem>
        <a href="/Department/Technology">科技部</a>
    </BreadcrumbItem>
</Breadcrumb>

<GridRow>
    <GridCol Xs="24" Sm="24" Md="24" Lg="24" Xl="20" Xxl="20">
        
    </GridCol>
    <GridCol Xs="0" Sm="0" Md="0" Lg="0" Xl="4" Xxl="4" Class="desktop-phone">
        <Affix>
            <Anchor ShowInkInFixed>
                <AnchorLink Href="/Department/Technology#about" Title="关于我们"/>
                <AnchorLink Href="/Department/Technology#business" Title="社团业务"/>
                <AnchorLink Href="/Department/Technology#activity" Title="社团活动"/>
                <AnchorLink Href="/Department/Technology#contact" Title="联系我们"/>
            </Anchor>
        </Affix>
    </GridCol>
</GridRow>

<style>
    .div{
        height: 100%;
    }
</style>